table {
  width: 100%;
}

th,
td {
  padding: 10px !important;
}

td {
  text-align: center;
  vertical-align: middle;
}

mat-form-field {
  width: 40%;
}

.text-right {
  text-align: right !important;
}

.highlight {
  background: lightblue;
}

.mat-row:hover {
  cursor: pointer;
}

.mat-elevation-z2 {    
  overflow-x: auto;
}

mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  text-align: center !important;
}

.table-container {
  height: 84%;
  overflow: auto;
}

.highlight {
  background: lightblue;
}