<div class="container">
  <app-spinner></app-spinner>
  <!-- Filter -->
  <ng-container>
    <div fxLayout="row">
      <div fxFlex="35" fxFlex.lt-sm="0%"></div>
      <ng-container *ngIf="isFilterable" [matColumnDef]="this.rowActionIcon">
        <mat-form-field fxFlex.lt-sm="50%" fxFlex="25%">
          <mat-label>Filtro</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Filtro"
            [disabled]="tableDataSource?.data?.length < 1"
          />
        </mat-form-field>
      </ng-container>
      <div fxFlex="25" fxFlex.lt-sm="0%"></div>
      <div
        fxFlex
        fxLayoutAlign="space-around center"
        fxFlex="20"
        fxFlex.lt-sm="50%"
      >
        <button
          *ngIf="hasMoreInfo"
          [disabled]="!selectedRow"
          mat-icon-button
          matTooltip="Ver mas info"
          (click)="emitShowMoreAction()"
        >
          <mat-icon>info_outline</mat-icon>
        </button>
        <div *ngIf="!noCreateAndDelete">
          <button
            mat-icon-button
            color="primary"
            matTooltip="Agregar"
            (click)="emitCreateAction()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <button
          mat-icon-button
          [disabled]="!selectedRow"
          color="primary"
          matTooltip="Editar"
          (click)="emitUpdateAction()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <div *ngIf="!noCreateAndDelete">
          <button
            mat-icon-button
            [disabled]="!selectedRow"
            color="warn"
            matTooltip="Eliminar"
            (click)="emitDeleteAction()"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Table -->

  <div
    class="mat-elevation-z2 table"
    *ngIf="tableDataSource?.data?.length > 0; else noData"
  >
    <table
      mat-table
      [dataSource]="tableDataSource"
      matSort
      (matSortChange)="sortTable($event)"
    >
      <ng-container
        *ngFor="let tableColumn of tableColumns"
        [matColumnDef]="tableColumn.name"
      >
        <!-- if sortable column header -->
        <ng-container *ngIf="tableColumn.isSortable; else notSortable">
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="tableColumn.name"
          >
            {{ tableColumn.name }}
          </th>
        </ng-container>
        <!-- else not sortable -->
        <ng-template #notSortable>
          <th mat-header-cell *matHeaderCellDef>
            {{ tableColumn.name }}
          </th>
        </ng-template>

        <!-- column data -->
        <td mat-cell *matCellDef="let element">
          {{ element | dataPropertyGetter : tableColumn.dataKey }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ highlight: selectedRow === row }"
        (click)="this.selectedRow = row"
      ></tr>
    </table>
  </div>

  <!-- Pagination -->

  <mat-paginator
    *ngIf="isPageable && tableDataSource?.data?.length > 0"
    [pageSize]="defaultPageSize"
    showFirstLastButtons
  >
  </mat-paginator>

  <ng-template #noData>
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
      <div *ngIf="!!dataFetched" fxFlex="50%" class="text-center no-records animate">
        <mat-icon>{{ emptyIcon }}</mat-icon>
        <p>{{ emptyMessage }}</p>
      </div>
      <mat-icon> </mat-icon>
    </div>
  </ng-template>
</div>
