<div class="md-dialog-container">
  <h3
    mat-dialog-title
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    style="cursor: move"
  >
    {{ data ? "Editar" : "Registrar" }} Ingreso
  </h3>
  <form
    [formGroup]="entityForm"
    (ngSubmit)="entityForm.valid && onSubmit()"
    novalidate
  >
    <div mat-dialog-content>
      <div
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="15px"
        fxLayoutAlign="flex-start"
      >
        <mat-form-field
          *ngFor="let item of incomeFormInputs"
          [fxFlex]="item.smWidth"
          [fxFlex.lt-md]="item.smWidth"
          [fxFlex.lt-sm]="item.lgWidth"
          appearance="outline"
        >
          <input matInput [placeholder]="item.label" [formControlName]="item.name" [type]="item.type" >
          <mat-error *ngFor="let error of item.errors">
            <span *ngIf="entityForm.controls[item.name].hasError(error.name)">{{error.message}}</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(40% - 15px)"
          fxFlex.lt-md="0 1 calc(40% - 15px)"
          fxFlex.lt-sm="100%"
          appearance="outline"
        >
          <mat-label>Tipo de recibo</mat-label>
          <mat-select
            ngDefaultControl
            formControlName="receiptType"
            [compareWith]="compareFn"
          >
            <mat-option
              *ngFor="let receiptType of receiptTypes"
              [value]="receiptType"
            >
              {{ receiptType.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('receiptType', 'required')"
            >El tipo de recibo es requerido.</mat-error
          >
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(40% - 15px)"
          fxFlex.lt-md="0 1 calc(40% - 15px)"
          fxFlex.lt-sm="100%"
          appearance="outline"
        >
          <mat-label>Proveedor</mat-label>
          <mat-select
            ngDefaultControl
            formControlName="supplier"
            [compareWith]="compareFn"
          >
            <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
              {{ supplier.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('supplier', 'required')"
            >El proveedor es requerido.</mat-error
          >
        </mat-form-field>
      </div>
      <br />
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Detalles de ingreso</mat-panel-title>
            <mat-panel-description>
              {{ data ? "Editar" : "Registrar" }} detalle de ingreso
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container
            *ngFor="let newEntryDetail of incomeDetails?.controls; let i = index"
          >
            <app-income-detail-form 
              [inputFormGroup]="$any(newEntryDetail)"
              [itemsFormGroup]="itemsForm"
            >
            </app-income-detail-form>
            <button
              [disabled]="incomeDetails?.length <= 1"
              mat-icon-button
              type="button"
              color="warn"
              matTooltip="Eliminar detalle"
              (click)="deleteEntryDetail(i)"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </ng-container>
          <button
            mat-icon-button
            type="button"
            color="primary"
            matTooltip="Agregar detalle"
            (click)="addEntryDetail()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-expansion-panel>
      </mat-accordion>
      <br />
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button mat-dialog-close>Cerrar</button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Editar" : "Registrar" }}
      </button>
    </div>
  </form>
</div>
