<div class="md-dialog-container">
  <h3
    mat-dialog-title
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    style="cursor: move"
    fxLayoutAlign = "center"
  >
    {{ supplier.name }}
  </h3>
  <div mat-dialog-content>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item><u>NIF</u>:&nbsp; {{ supplier.nif }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        ><u>Email</u>:&nbsp;{{ supplier?.email ? supplier.email : "-" }}</mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item
        ><u>Página web</u>:&nbsp;
        {{ supplier?.webPage ? supplier.webPage : "-" }}</mat-list-item
      >
      <mat-divider></mat-divider>
      <br />
    </mat-list>
    <mat-accordion *ngIf="supplier?.mobileNumbers?.length > 0">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayoutAlign = "center">Numeros de teléfono </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let number of supplier?.mobileNumbers">
            <mat-list-item>{{ number?.mobileNumber }}</mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
      <br />
    </mat-accordion>

    <mat-accordion *ngIf="supplier?.addresses?.length > 0">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayoutAlign = "center">Direcciones</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let address of supplier?.addresses">
            <mat-list-item>
              {{ address.city.name }} - {{ address.city.province.name }} |
              Calle: {{ address.streetName }} -
              {{
                address?.blockStreet ? "Altura: " + address?.blockStreet : "Altura: S/N"
              }}
              |
              {{
                address?.apartment ? "Departamento: " + address?.apartment : "Departamento: S/N "
              }}
              - {{ address?.flat ? "Piso: " + address?.flat : "Piso: S/N" }}
            </mat-list-item>
            <br />
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
  </div>
</div>
