<form [formGroup]="form">
  <div fxLayout="row">
    <div fxFlex="40%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Actual contraseña"
          formControlName="currentPassword"
          [type]="hideCurrentPassword ? 'password' : 'text'"
          autocomplete="current-password"
        />
        <mat-icon
          matSuffix
          (click)="hideCurrentPassword = !hideCurrentPassword"
        >
          {{ hideCurrentPassword ? "visibility" : "visibility_off" }}
        </mat-icon>

        <mat-error
          *ngIf="form.controls['currentPassword'].hasError('required')"
        >
          Ingrese su actual contraseña
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Nueva contraseña"
          formControlName="newPassword"
          [type]="hideNewPassword ? 'password' : 'text'"
          autocomplete="new-password"
        />
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{ hideNewPassword ? "visibility" : "visibility_off" }}
        </mat-icon>

        <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
          Ingrese una nueva contraseña
        </mat-error>
        <mat-error *ngIf="form.controls['newPassword'].hasError('minLength')">
          La contraseña debe tener al menos ocho digitos
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Confirmar nueva contraseña"
          formControlName="newPasswordConfirm"
          [type]="hideNewPassword ? 'password' : 'text'"
          autocomplete="new-password"
        />
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{ hideNewPassword ? "visibility" : "visibility_off" }}
        </mat-icon>

        <mat-error
          *ngIf="form.controls['newPasswordConfirm'].hasError('required')"
        >
          Confirme su nueva contraseña
        </mat-error>
        <mat-error
          *ngIf="form.controls['newPasswordConfirm'].hasError('minLength')"
        >
          La confirmación de contraseña debe tener al menos ocho digitos
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || disableSubmit"
        (click)="changePassword()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
