.search-content {
  max-height: 40em;
  overflow-y: auto;
}

.mat-dialog-content {
  height: 30em;
}

.user-select-button {
  display: flex;
  justify-content: flex-end; /* Align items to the end of the flex container */
  align-items: center; /* Center items vertically */
}