<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%" (ngSubmit)="loginForm.valid && login()" novalidate>
        <mat-card>
            <mat-card-title>Funeraria Nuñez y Hnos.</mat-card-title>
            <mat-card-subtitle>Iniciar Sesión</mat-card-subtitle>
            <mat-card-content>

                <mat-form-field class="full-width" appearance="outline">
                    <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                        type="email">

                    <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
                        Ingrese un email valido.
                    </mat-error>
                    <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
                        El email es
                        <strong>requerido</strong>
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <input id="passwordInput" matInput placeholder="Contraseña" formControlName="password" type="password"
                        autocomplete="current-password">
                    <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['email'].hasError('required')">
                        La contraseña es
                        <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>

                <div class="full-width">
                    <mat-slide-toggle formControlName="rememberMe">Recordar mi email</mat-slide-toggle>
                </div>

            </mat-card-content>

            <mat-card-actions class="login-actions" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                <button mat-raised-button id="login" color="primary" (click)="loginForm.valid && login()">Iniciar Sesión</button>
                <button mat-button type="button" (click)="signup()">Registrate</button>
                <button mat-button id="resetPassword" (click)="resetPassword()" type="button">Reestablecer contraseña</button>
            </mat-card-actions>

        </mat-card>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
</div>