<div class="md-dialog-container">
  <h3
    mat-dialog-title
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    style="cursor: move"
  >
    Ingreso: {{ income?.receiptNumber }}
  </h3>
  <div mat-dialog-content>
    <mat-list>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let income of dataToShow">
        <mat-list-item
          ><u>{{ income.keyName }}</u
          >:&nbsp; {{ income.valueName }}</mat-list-item
        >
        <mat-divider></mat-divider>
      </ng-container>
      <mat-list-item *ngIf="income?.lastModifiedBy"
        ><u>Usuario de modificacion</u>:&nbsp;
        {{
          income?.lastModifiedBy?.lastName +
            " " +
            income?.lastModifiedBy?.firstName
        }}</mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="income?.lastModifiedBy"
        ><u>Fecha de modificacion</u>:&nbsp;
        {{ income?.lastModifiedDate }}</mat-list-item
      >
      <br />
    </mat-list>

    <mat-accordion *ngIf="income?.incomeDetails?.length > 0">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Detalles de ingrso</mat-panel-title>
        </mat-expansion-panel-header>
          <ng-container *ngFor="let incomeDetail of income?.incomeDetails">
            <mat-list>
              <div mat-subheader>{{incomeDetail.item.name}}</div>
              <mat-list-item>
                <div mat-line>Cantidad: {{incomeDetail.quantity}}</div>
                <div mat-line>Precio de compra: ${{incomeDetail.purchasePrice}}</div>
                <div mat-line>Precio de venta: ${{incomeDetail.salePrice}}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </ng-container>
        
      </mat-expansion-panel>
      <br />
    </mat-accordion>
  </div>
</div>
