<div style="height: 80vh">
  <mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav?.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon [ngStyle]="{ color: 'white' }">menu</mat-icon>
      </button>
      <a class="navbar-brand" [routerLink]="['/']" matTooltip="Inicio">
        <h1>Funeraria Nuñez y Hnos.</h1>
      </a>
      

      <span class="navbar-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a (click)="scrollDrawerTo('form', false)" mat-button>Nosotros</a>
        <a (click)="scrollDrawerTo('buttons', false)" mat-button>Servicios</a>
        <a (click)="scrollDrawerTo('tables', false)" mat-button>Contacto</a>
        <a (click)="scrollToLoginOrDashboard()" mat-button>{{
          !isLogged ? "Iniciar Session" : "Mi Panel"
        }}</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav?.toggle()" mat-list-item
          ><mat-icon mat-list-icon [ngStyle]="{ color: 'white' }"
            >close</mat-icon
          ></a
        >
        <a (click)="scrollDrawerTo('form', true)" mat-list-item>Nosotros</a>
        <a (click)="scrollDrawerTo('buttons', true)" mat-list-item>Servicios</a>
        <a (click)="scrollDrawerTo('tables', true)" mat-list-item>Contacto</a>
        <a
          [routerLink]="!isLogged ? ['/auth/iniciar-sesion'] : ['/dashboard']"
          mat-list-item
          >{{ !isLogged ? "Iniciar Session" : "Mi Panel" }}</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <carousel
        [images]="slides"
        [objectFit]="'cover'"
        [cellWidth]="'100%'"
        [arrows]="true"
        [autoplay]="true"
        [dots]="true"
        [loop]="true"
        [height]="screenHeight > 600 ? 600 : screenHeight * 0.6"
      ></carousel>
      <div class="features">
        <div class="row">
          <div class="column">
            <h3 style="color: #1F618D ;" >Estamos aquí para ayudarte</h3>
            <p>
              Te acompañamos en cualquier momento del día.
              <br> Los 365 días del año<br>
            </p>
          </div>
          <div class="column">
            <h3 style="color: #1F618D ;">Trabajamos con o sin prepagas</h3>
            <p>
              Trabajamos con la mayoría de las prepagas existententes en el
              país, asi como tambien proveemos servicios a los que no poseen
            </p>
          </div>
          <div class="column">
            <h3 style="color: #1F618D ;">Te ayudamos en el proceso de despedida</h3>
            <p>
              Te ofrecemos todo nuestro catálogo de productos y servicios para
              organizar un funeral adecuado a tus necesidades y gustos
            </p>
          </div>
        </div>
      </div>
      <div class="contents">
            <div class="row">
          <div class="column center-content" id="form">
            <h2 style="color: #1F618D ;">Nosotros</h2>
            <p>
              En Nuñez y Hermanos constantemente nos esforzamos por brindar un servicio integral y único en la región.
              <br>En esos momentos en que una persona o una familia requieran de nuestra colaboración, damos intervención con la nobleza humana que nos caracteriza, acompañando en cada detalle.
            </p>
          </div>
          <div class="column">
            <img
              src="https://i.ibb.co/Stj8tSV/jametlene-reskp-4-Yk-Rk1dcc-YM-unsplash.jpg"
            />
          </div>
        </div>
        <div class="row">
          <div class="column">
            <img
              src="https://i.ibb.co/qMfSG79/strauss-western-5a3e-FHc-Gl9-U-unsplash.jpg"
            />
          </div>
          <div class="column center-content" id="buttons">
            <h2 style="color: #1F618D ;">Nuestros Servicios</h2>
            <p>
              Nuestro equipo de trabajo ofrece atención personalizada y una completa cobertura, resolviendo todas las inquietudes de las familias que confían en el trabajo que brindamos.
              <br>Ofreciendo sservicios de Capilla Ardiente, Traslados, Afiliación y Tercerización del servicio de cremación.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="column center-content" id="tables">
            <h2 style="color: #1F618D ;">Contacto</h2>
            <p>
             Sus aportes nos ayudan a seguir creciendo.
             <br> Si desea realizarnos una consulta, comentario o sugerencia:<br>
             <br> Podés acercarte a nuestra sucursal ubicada en J.J. Castelli N°664 del centro de Presidencia Roque Sáenz Peña<br>
            <br> También podes contactarte por Whatsapp o e-mail : funerarianyh@gmail.com

            </p>
          </div>
          <div class="column">
            <img
              src="https://i.ibb.co/bHgdj1x/sepelio2.jpg" 
            />
          </div>
        </div>
      </div>
      <a href="https://api.whatsapp.com/send?phone=3644599302&text=Hola, quiesiera slicitar un servicio." class="floatWapp" target="_blank">
        <i class="fa fa-whatsapp my-floatWapp"></i>
        </a>
        
      <div class="contactus">
        <h2 style="color: black;">Pensando en Usted y su Familia</h2>
         </div>
      <div class="footer" color="primary">
        
        <mat-toolbar color="primary">
          <span>Diseño de sistemas 2023</span>
        </mat-toolbar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
