<div class="md-dialog-container">
  <h3
    mat-dialog-title
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    style="cursor: move"
    fxLayoutAlign="center"
  >
    {{ data ? "Editar" : "Registrar" }} proveedor
  </h3>
  <mat-divider></mat-divider>
  <br>
  <form
    [formGroup]="entityForm"
    (ngSubmit)="entityForm.valid && onSubmit()"
    novalidate
  >
    <div mat-dialog-content>
      <div
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="15px"
        fxLayoutAlign="flex-start"
        >
          <mat-form-field
            *ngFor="let item of supplierFormInputs"
            [fxFlex]="item.smWidth"
            [fxFlex.lt-md]="item.smWidth"
            [fxFlex.lt-sm]="item.lgWidth"
            appearance="outline"
          >
            <input matInput [placeholder]="item.label" [formControlName]="item.name" [type]="item.type">
            <mat-error *ngFor="let error of item.errors">
              <span *ngIf="entityForm.controls[item.name].hasError(error.name)">{{error.message}}</span>
            </mat-error>
          </mat-form-field>
        </div>
      <div
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="10px"
        fxLayoutAlign="flex-start"
      >
        <ng-container
          *ngFor="let newMobNumber of mobileNumbers?.controls; let i = index"
        >
          <app-telephone-form
            [inputFormGroup]="$any(newMobNumber)"
          ></app-telephone-form>
          <button
            [disabled]="mobileNumbers?.length <= 1"
            mat-icon-button
            type="button"
            color="warn"
            matTooltip="Eliminar telefono"
            (click)="deleteMobileNumber(i)"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </ng-container>
        <button
          mat-icon-button
          type="button"
          color="primary"
          matTooltip="Agregar telefono"
          (click)="addMobileNumber()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <br />
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          expanded="true"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>Direcciones</mat-panel-title>
            <mat-panel-description>
              {{ data ? "Editar" : "Registrar" }} direcciones
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div
            fxLayout="row wrap"
            fxLayout.lt-sm="column"
            fxLayoutGap="15px"
            fxLayoutAlign="flex-start"
          >
            <ng-container
              *ngFor="let newAddress of addresses?.controls; let i = index"
            >
              <app-address-form
                [inputFormGroup]="$any(newAddress)"
              ></app-address-form>
              <button
                [disabled]="addresses?.length <= 1"
                mat-icon-button
                type="button"
                color="warn"
                matTooltip="Eliminar direccion"
                (click)="deleteAddress(i)"
              >
                <mat-icon>remove</mat-icon>
              </button>
            </ng-container>
            <button
              mat-icon-button
              type="button"
              color="primary"
              matTooltip="Agregar direccion"
              (click)="addAddress()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br />
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button mat-dialog-close>Cerrar</button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Editar" : "Registrar" }}
      </button>
    </div>
  </form>
</div>
