<div class="md-dialog-container">
  <h3
    mat-dialog-title
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    style="cursor: move"
  >
    {{ data ? "Editar" : "Registrar" }} proveedor
  </h3>
  <form
    [formGroup]="entityForm"
    (ngSubmit)="entityForm.valid && onSubmit()"
    novalidate
  >
    <div mat-dialog-content>
      <div
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="15px"
        fxLayoutAlign="flex-start"
      >
        <mat-form-field
          fxFlex="0 1 calc(50% - 15px)"
          fxFlex.lt-md="0 1 calc(50% - 15px)"
          fxFlex.lt-sm="100%"
        >
          <mat-label>Nombre</mat-label>
          <input matInput type="text" name="name" formControlName="name" />
          <mat-error *ngIf="hasError('name', 'required')"
            >El nombre es requerido.</mat-error
          >
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(50% - 15px)"
          fxFlex.lt-md="0 1 calc(50% - 15px)"
          fxFlex.lt-sm="100%"
        >
          <mat-label>NIF</mat-label>
          <input matInput type="text" name="nif" formControlName="nif" />
          <mat-error *ngIf="hasError('nif', 'required')"
            >El NIF es requerido.</mat-error
          >
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(50% - 15px)"
          fxFlex.lt-md="0 1 calc(50% - 15px)"
          fxFlex.lt-sm="100%"
        >
          <mat-label>email</mat-label>
          <input matInput type="email" name="email" formControlName="email" />
        </mat-form-field>

        <mat-form-field
          fxFlex="0 1 calc(50% - 15px)"
          fxFlex.lt-md="0 1 calc(50% - 15px)"
          fxFlex.lt-sm="100%"
        >
          <mat-label>Pagina web</mat-label>
          <input
            matInput
            type="text"
            name="webPage"
            formControlName="webPage"
          />
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button mat-dialog-close>Cerrar</button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Editar" : "Registrar" }}
      </button>
    </div>
  </form>
</div>
