<div class="md-dialog-container">
  <h3
    mat-dialog-title
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    style="cursor: move"
    fxLayoutAlign="center"
  >
    {{ data ? "Editar" : "Registrar" }} artículo
  </h3>
  <mat-divider></mat-divider>
  <br />
  <form
    [formGroup]="entityForm"
    (ngSubmit)="entityForm.valid && onSubmit()"
    novalidate
  >
    <div mat-dialog-content>
      <div
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="15px"
        fxLayoutAlign="flex-start"
      >
        <mat-form-field
          appearance="outline"
          fxFlex="0 1 calc(50% - 15px)"
          fxFlex.lt-md="0 1 calc(50% - 15px)"
          fxFlex.lt-sm="100%"
        >
          <mat-label>Categoría</mat-label>
          <mat-select
            ngDefaultControl
            formControlName="category"
            [compareWith]="compareFn"
            [(value)]="categorySelected"
            (selectionChange)="onSelectEvent($event.value)"
          >
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          fxFlex="0 1 calc(50% - 15px)"
          fxFlex.lt-md="0 1 calc(50% - 15px)"
          fxFlex.lt-sm="100%"
        >
          <mat-label>Marca</mat-label>
          <mat-select
            ngDefaultControl
            formControlName="brand"
            [compareWith]="compareFn"
          >
            <mat-option *ngFor="let brand of brands" [value]="brand">
              {{ brand.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngFor="let item of formInputText"
          [fxFlex]="item.smWidth"
          [fxFlex.lt-md]="item.smWidth"
          [fxFlex.lt-sm]="item.lgWidth"
          appearance="outline"
        >
          <input
            matInput
            [placeholder]="item.label"
            [formControlName]="item.name"
            [type]="item.type"
          />
          <mat-error *ngFor="let error of item.errors">
            <span *ngIf="entityForm.controls[item.name].hasError(error.name)">{{
              error.message
            }}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div
        *ngIf="coffinValues.includes(categorySelected?.name?.toLowerCase())"
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="15px"
        fxLayoutAlign="flex-start"
      >
        <ng-container *ngFor="let ataudObject of ataudObjects">
          <mat-form-field
            appearance="outline"
            fxFlex="0 1 calc(33% - 15px)"
            fxFlex.lt-md="0 1 calc(50% - 15px)"
            fxFlex.lt-sm="100%"
          >
            <mat-label>{{ ataudObject.label }}</mat-label>
            <input
              matInput
              [type]="ataudObject.type"
              [name]="ataudObject.name"
              [formControlName]="ataudObject.name"
            />
            <mat-error *ngFor="let error of ataudObject.errors">
              <span
                *ngIf="
                  entityForm.controls[ataudObject.name].hasError(error.name)
                "
                >{{ error.message }}</span
              >
            </mat-error>
          </mat-form-field>
        </ng-container>
      </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button mat-dialog-close>Cerrar</button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Editar" : "Registrar" }}
      </button>
    </div>
  </form>
</div>
