<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h1 fxLayoutAlign = "center">{{modelName}}</h1>
        <app-table-reusable
          [tableData]="dataSource"
          [tableColumns]="displayedColumns"
          [isFilterable]="true"
          [isPageable]="true"
          [hasMoreInfo]="true"
          [noCreateAndDelete]="true"
          [emptyIcon]="'people'"
          [dataFetched]="dataFetched"
          [emptyMessage]="'Todavia no hay usuarios registrados.'"
          (updateAction)="updateElement($any($event))"
          (showMoreAction)="showMoreInfoUser($any($event))"
        >
        </app-table-reusable>
      </mat-card-content>
    </mat-card>
  </div>
</div>
