<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="15px"
  fxLayoutAlign="flex-start"
>
  <mat-form-field
    appearance="outline"
    fxFlex="0 1 calc(33% - 15px)"
    fxFlex.lt-md="0 1 calc(33% - 15px)"
    fxFlex.lt-sm="100%"
  >
    <mat-label>Provincia</mat-label>
    <mat-select
      [(value)]="selectedProvince"
      (selectionChange)="getCities()"
      [formControl]="$any(inputFormGroup.controls['province'])"
      [compareWith]="compareProvionceFn"
    >
      <mat-option *ngFor="let province of provinces" [value]="province">{{
        province?.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    fxFlex="0 1 calc(33% - 15px)"
    fxFlex.lt-md="0 1 calc(33% - 15px)"
    fxFlex.lt-sm="100%"
  >
    <mat-label>Ciudad</mat-label>
    <mat-select
      [formControl]="$any(inputFormGroup.controls['city'])"
      [compareWith]="compareCityFn"
    >
      <mat-option *ngIf="cities?.length < 1"
        >Seleccione una provincia</mat-option
      >
      <mat-option *ngFor="let city of cities" [value]="city">{{
        city?.name
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="hasError('city', 'required')"
      >La ciudad es requerida.</mat-error
    >
  </mat-form-field>

  <mat-form-field
    *ngFor="let item of addressInputs"
    appearance="outline"
    fxFlex="0 1 calc(33% - 15px)"
    fxFlex.lt-md="0 1 calc(33% - 15px)"
    fxFlex.lt-sm="100%"
  >
    <mat-label>{{ item.label }}</mat-label>
    <input matInput [formControl]="$any(inputFormGroup.controls[item.name])" />
    <mat-error *ngFor="let error of item.errors">
      <span *ngIf="hasError(item.name, error.name)">{{ error?.message }}</span>
    </mat-error>
  </mat-form-field>
</div>
<hr />
